$blue: #A4DDD4;
$coral: #FF9968;
$cream: #fcf8f5;

body {
  background-color: $blue;
  font-family: 'Open Sans', Helvetica;
}
.intro {
  text-align:center;
  h1{
    font-family: 'Pacifico', Helvetica;
    font-size: 55px;
    color: $cream;
    background-color: rgba(252, 248, 245, .4);
  }
  h2{
    font-size: 22px;
    color: $cream;
  }
  input{
    border-radius: 10px;
  }
}

.listCreate {
  background-color: rgba(252, 248, 245, .4);
  ul {
    li {
      list-style-type:none;
    }
  }
}


.counter {
  text-align:center;
  span {
    text-decoration:underline;
  }
}

.container {
  width:90%;
  margin:auto;
  color: $cream;
  h3{
    font-size: 20px;
  }
}

.hideNote {
  display: none;
}
