$blue: #A4DDD4;
$coral: #FF9968;
$cream: #fcf8f5;

body {
  width: 100%;
  background-color: $blue;
  font-family: 'Open Sans', Helvetica;
  margin: 0;
}

.intro {
  margin: auto;
  text-align:center;
  width: 100%;
  h1{
    padding:15px;
    width: 80%;
    margin:auto;
    margin-top:30px;
    font-family: 'Pacifico', Helvetica;
    font-size: 55px;
    color: $blue;
    background-color: rgba(252, 248, 245, .6);
  }
  h2{
    font-size: 34px;
    color: $cream;
  }
  input{
    border-radius: 5px;
  }
}

.listCreate {
  margin-left:0px;
  ul {
    li {
      list-style-type:none;
    }
  }
}



.container {
  width:95%;
  margin:auto;
  color: $blue;
  position: relative;
  h3{
    font-size: 32px;
    padding: 4px;
    padding-bottom: 20px;
    margin-bottom:0px;
  }
  .counter {
    text-align:center;
    span {
      font-family: 'Pacifico', Helvetica;
      color: $coral;
    }
  }
}

.slideUp{
  width: 100%;
  position: absolute;
  top: -1000px;
  width: 98%;
  padding:12px;
  transition: all 1s ease;
  background-color: rgb(252, 248, 245);
}
.slideUp2{
  position: absolute;
  transform: translateY(0px);
  transition: all 1s ease;
  top: 0px;
  width: 98%;
  border-radius:5px;
  .notes{
    color: $coral;
  top: 0;
  h3{
    font-size: 32px;
    padding: 4px;
    padding-bottom: 20px;
  }
  .counter {
    text-align:center;
    h3{
      margin: 0;
    }
    span {
      font-family: 'Pacifico', Helvetica;
      color: $coral;
    }
  }
  .notes{
    background-color: $blue;
    color: $cream;
    width: 80%;
  }
}

.hideNote {
  display: none;
}

.footer {
  height: 60px;
  clear: both;
  width: 100%;
  display: block;
}}
